// GENERAL MAINPAGE 

.logo a {
  text-decoration: none;
  color: white;
}

.row {
    
  display: flex;
  flex-wrap: wrap;
}

.main-con-page {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

// 1ST SECTION 

.st-section {
  .links{
    text-decoration: none;
  }
  p {
    text-align: center;
    margin-top: 40px;
    color: white;
    font-size: 25px;
    font-family: $font-header;
    margin-bottom: 0;



    &.lower-text{
      font-size: 15px;
      margin: 0 0 0 0;
      margin-top: 1px;
      font-family: $font-text
    }

    &.upper-text {
      margin: 30px 0 0 0;
    }
  }
}


.order-pic {
  background-size: cover;
  background-image: url(../../images/mainPage/pizza-1.jpg);
  width: 300px;
  height: 120px;
  border-radius: 5px;
  margin-right: 3px;
  overflow: hidden;
  .hidden-hover{
    opacity: 0;
    transform: translate(0, 250%);
    margin: 0;
    font-size: 13px;
    font-family: $font-text;
  }
  &:hover{
    p{
      transform: translate(0, -50%);
      transition: all 0.5s;
    }
    .hidden-hover{
      opacity: 1;
    }
  }
}

.book-pic {
  background-size: cover;
  background-image: url(../../images/mainPage/pizza-2.jpg);
  width: 300px;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
  .hidden-hover{
    opacity: 0;
    transform: translate(0, 250%);
    margin: 0;
    font-size: 13px;
    font-family: $font-text;
  }
  &:hover{
    p{
      transform: translate(0, -50%);
      transition: all 0.5s;
    }
    .hidden-hover{
      opacity: 1;
    }
  }
}

.opening-hours {
  margin-top: 4px;
  background-color: $color-main;
  height: 120px;
  border-radius: 5px;
}

// 2ND SECTION

.square-pic{
  background-size: cover;
  background-image: url(../../images/mainPage/pizza-3.jpg);
  width: 190px;
  height: 190px;
  border-radius: 5px;
}

.nd-section{
  margin-top: 110px;
}

 .commentary{ 
  padding-left: 45px;
  margin: -190px 0 0 200px;
  position: relative;


  .first-comment{
    position: absolute;
    opacity: 0;
  }

  .nd-comment{
    opacity: 0;
    position: absolute;
  }
  
  .rd-comment{
    opacity: 0;
  }

  h3{
    font-size: 14px;
  }

  div{
    transition: all 0.5s ease-in-out;
    
    &.active{
      opacity: 1;
    }
  }
}


.circles{
  ul{
    margin-top: 20px;
    margin-left: 36%;
    list-style: none;
    li{
      margin-left: 10px;
      float: left;
      i{
        font-size: 12px;
        transition: all 0.5s ease-in-out;
        text-align: center;
        margin: auto;
        color: rgb(168, 168, 168);
        &.dot{
          color: rgb(73, 72, 72);
        }
      }
    }
  }
}

// 3RD SECTION

.rd-section{
  margin-top: 80px;
  .st-tp{
    background-image: url(../../images/mainPage/pizza-4.jpg);

  }
  .nd-tp{
    background-image: url(../../images/mainPage/pizza-5.jpg);
  }
  .rd-tp{
    background-image: url(../../images/mainPage/pizza-6.jpg);
  }
  .st-bt{
    background-image: url(../../images/mainPage/pizza-7.jpg);
  }
  .nd-bt{
    background-image: url(../../images/mainPage/pizza-8.jpg);
  }
  .rd-bt{
    background-image: url(../../images/mainPage/pizza-9.jpg);
  }

  .rd-con-pic{
    
    margin: 0 0 10px 10px;
    background-size: cover;
    width: 190px;
    height: 190px;
    border-radius: 5px;
    &::before{
      content: "";
      position: absolute;
      width: 190px;
      height: 190px;
      transition: all 0.5s;
      opacity: 0;
      background: black;
    }
    &:hover{
      &::before{
        content: "";
        position: absolute;
        width: 190px;
        height: 190px;
        
        opacity: 0.2;
        background: black;
        
      }
      .icons{
        opacity: 1;
      }
    }
    a{
      color: white;
    }
    .icons{
      position: relative;
      opacity: 0;
      font-size: 25px;
      margin: 45% 0 0 40%;
      color: white;
      transition: all 0.5s;

      .fa-heart{
        transition: all 0.5s;

        &:hover {
          color: $color-danger;
        }
      }
    }
  }
}


// RWD SECTION 

@media (max-width: 713px){

  .order-pic{
    margin-bottom: 6px;
  }

  .book-pic{
    margin-bottom: 2px;
  }

  .st-section{
    justify-content: center;
  }
  .rd-section{
    justify-content: center;
  }
  .opening-hours{
    width: 300px;
    height: 120px;
  }
}

@media (max-width: 600px){
  .square-pic{
    width: 120px;
    height: 120px;
  }
  .commentary{
    margin: -150px 0 0 100px; 
  }
}